html, body, #root {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App .controls {
    display: flex;
}

.App .babylon {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.App .canvas-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


#renderCanvas {
    touch-action: none;
}
